<section id="filter-section" class="flex justify-center relative">
  <div class="label-onlick-bg-color flex items-center text-md cursor-pointer mr-4" id="filter-icon-container">
    <img loading="lazy" src="../../static/filter.svg" alt="filter-icon" />
    <label class="label-onlick-bg-color ml-1 cursor-pointer">Filter</label>
  </div>

  <div id="form-container" style="display: none" class="absolute mt-8">
    <form action="/contacts" method="GET" class="pt-1 flex items-center">
      <select name="sort" id="sort" class="block w-full rounded-l-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-green-500 focus:outline-none focus:ring-green-500 sm:text-sm">
        <option value="-1">Newer profiles first</option>
        <option value="1">Older profiles first</option>
      </select>
      <button class="bg-green-600 px-3 cursor-pointer py-1 text-white font-bold rounded-tr-lg rounded-br-lg">Submit</button>
    </form>
  </div>
</section>
