<%- include('includes/header') %>

<div id="main-container" class="flex min-h-full">
  <div class="flex flex-1 flex-col justify-center py-12 px-4 sm:px-6 lg:flex-none lg:px-20 xl:px-24">
    <div id="register-container" class="mx-auto w-full max-w-sm lg:w-96">
      <div>
        <h1 class="mt-6 text-3xl font-bold tracking-tight text-gray-900">Register for an account</h1>
        <p class="mt-2 text-sm text-gray-600">
          Or
          <a href="/login" class="font-medium text-green-600 hover:text-green-500">Sign in</a>
        </p>
      </div>

      <div class="mt-8">
        <div>
          <div>
            <p class="text-sm font-medium text-gray-700">Sign in with</p>

            <div class="mt-1 grid grid-cols-1 gap-3">
              <div>
                <a href="/google-login" class="inline-flex w-full justify-center rounded-md border border-gray-300 bg-white py-2 px-4 text-sm font-medium text-gray-500 shadow-sm hover:bg-gray-50">
                  <span class="sr-only">Sign in with Google</span>
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill-rule="evenodd" clip-rule="evenodd" fill="currentColor" viewBox="0 0 640 640">
                    <path d="M326.331 274.255v109.761h181.49c-7.37 47.115-54.886 138.002-181.49 138.002-109.242 0-198.369-90.485-198.369-202.006 0-111.509 89.127-201.995 198.369-201.995 62.127 0 103.761 26.516 127.525 49.359l86.883-83.635C484.99 31.512 412.741-.012 326.378-.012 149.494-.012 6.366 143.116 6.366 320c0 176.884 143.128 320.012 320.012 320.012 184.644 0 307.256-129.876 307.256-312.653 0-21-2.244-36.993-5.008-52.997l-302.248-.13-.047.024z" />
                  </svg>
                </a>
              </div>
            </div>
          </div>

          <div class="relative mt-6">
            <div class="absolute inset-0 flex items-center" aria-hidden="true">
              <div class="w-full border-t border-gray-300"></div>
            </div>
            <div class="relative flex justify-center text-sm">
              <span class="bg-white px-2 text-gray-500">Or continue with</span>
            </div>
          </div>
        </div>

        <div class="mt-6">
          <form action="/register" method="POST" class="space-y-6" id="registration-form">
            <% reqErrors.forEach(function(message){ %>
            <div class="border border-red-400 text-red-700 text-center px-4 py-3 rounded"><%= message %></div>
            <% }) %>
            <input type="hidden" name="_csrf" value="<%= csrfToken%>" />
            <div class="relative">
              <label for="first-name" class="block text-sm font-medium text-gray-700">First name</label>
              <div class="mt-1">
                <input id="first-name" name="firstName" type="text" autocomplete="given-name" class="form-control block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-green-500 focus:outline-none focus:ring-green-500 sm:text-sm" />
              </div>
            </div>

            <div class="relative">
              <label for="last-name" class="block text-sm font-medium text-gray-700">Last name</label>
              <div class="mt-1">
                <input id="last-name" name="lastName" type="text" autocomplete="family-name" class="form-control block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-green-500 focus:outline-none focus:ring-green-500 sm:text-sm" />
              </div>
            </div>

            <div class="relative">
              <label for="year" class="block text-sm font-medium text-gray-700"> Year of graduation</label>
              <div class="mt-1">
                <input id="year" name="year" type="text" autocomplete="bday-year" class="form-control block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-green-500 focus:outline-none focus:ring-green-500 sm:text-sm" />
              </div>
            </div>

            <div class="relative">
              <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
              <div class="mt-1">
                <input id="email" name="email" type="email" autocomplete="email" class="form-control block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-green-500 focus:outline-none focus:ring-green-500 sm:text-sm" />
              </div>
            </div>

            <div class="relative space-y-1">
              <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
              <div class="mt-1">
                <input id="password" name="password" type="password" autocomplete="current-password" class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-green-500 focus:outline-none focus:ring-green-500 sm:text-sm" />
              </div>
            </div>

            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-green-600 focus:ring-green-500" />
                <label for="remember-me" class="ml-2 block text-sm text-gray-900">Remember me</label>
              </div>
            </div>

            <div>
              <button type="submit" class="flex w-full justify-center rounded-md border bg-green-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2">Yes Create New Account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="relative hidden w-0 flex-1 lg:block">
    <img class="absolute inset-0 h-full w-full object-cover" src="https://images.unsplash.com/photo-1505904267569-f02eaeb45a4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1908&q=80" alt="" />
  </div>
</div>

<%- include('includes/footer') %>
